<html>
<head>
</head>
<body>
<h3>Hi <%= @user.name %>, your appointment at HCC was created successfully</h3><br>

<h3> Details- </h3><br>
<p> Reason: <%= @appointment.reason %></p>
<p> Preffered Slot: <%= @appointment.preferred_slot %> </p>
<p> Severity: <%= @appointment.severity %> </p>

</body>
</html>